.rectangle {
  height: 7px;
  width: 60px;
  background-color: brown;
  margin: 50px auto;
}
.main-picture{
  height: 50%;
  width: 50%;
  margin-left: 25%;
  border-radius: 10px;
}
.navigation-pictures img {
  height: 200px;
  width: 250px;
  cursor: pointer;
}
.navigation-pictures img:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 8px 100px 0px;
}
.main-link {
color: blue;
background-color: white;
width: 300px;
height: 200px;
margin-top: 20px;  
padding: 20px 0;  
border-radius: 50%;
text-align: center;
text-decoration: none;
font-family: 'Roboto';
display: flex;
justify-content: space-between;
}