.nupp {  
  color: gray;
  background: lightgreen;
  padding: 15px 32px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
   }
.nupp:hover {
  height: 50px;
  font-size: 16px;
  color: blue;
  font-style: bold;
  text-align: center;
  cursor: grab;
}
.pilt {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}
