.pilt{
  height: 25%;
  width: 385px;
}

.rectangle {
  height: 5px;
  width: 385px;
  background-color: darkgrey;
  margin-left: 50px auto;
}

.red {
  color: red;
}
.blue {
  color: rgb(26, 26, 94);
}
.nupp:hover {
  font-size: bold;
}
.aktiivne {
  border: 1px solid green;
  background-color: rgb(226, 235, 226);
  margin: 5px;
}
.mitteaktiivne {
  border: 1px solid red;
  background-color: rgb(243, 236, 236);
  margin: 5px;
}